* {
  border: 1px solid lavender;
  font-family: 'Cabin Sketch', cursive;
  margin: 0;
}

html,
body {
  background: url(assets/Chalkboard-background.jpg);
  background-size: cover;
  margin: 0;
  height: 100%;
}

h1 {
  color: mintcream;
}

.player-1 {
  display: flex;
  flex-direction: column;
}

.game-table {
  display: flex;
  justify-content: center;
}
