* {
  /* border: 1px solid lavender; */
  font-family: 'Cabin Sketch', cursive;
  margin: 0;
}

html,
body {
  background: url(assets/Chalkboard-background.jpg);
  background-size: cover;
  margin: 0;
  height: 100%;
}

.hidden {
  display: none;
}

.no-click {
  pointer-events: none;
}

h1 {
  color: mintcream;
  /* margin: .5em; */
  /* margin: 1vw; */
  margin: 2vw 1vw 2vw 1vw;
}

.id {
  font-size: 4vw;
}

.player-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  /* margin: 1em; */
  margin: 8vw 2vw 2vw 2vw;
  /* margin-top: 8vw; */
}

.game-table {
  display: flex;
  justify-content: center;
  height: 100%;
}

.banner {
  /* font-size: 3em; */
  font-size: 5vw;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 73%;
  /* margin: 1em; */
  margin: 2vw;
}

.board-bckgrnd {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  /* FOR A HASH MARK LOOK ⤵ */
  /* justify-content: space-between; */
  /* align-items: center; */
  width: 40vw;
  height: 40vw;
  /* background: url(assets/chalk-rainbow.jpg); */
  background: url(assets/earth-chalk.jpg);
  /* background: url(assets/rainbow-chalk-on-pavement.jpg); */
  background-position: center;
  margin: 2vw 1vw 2vw 1vw;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  color: honeydew;
  width: 30%;
  height: 30%;
  background: url(assets/chalkboard-background.jpg);
}

.bttn {
  width: 28vw;
  height: 5vw;
  /* border: 1px solid lime; */
  border: none;
  outline: none;
  margin: 4vw 1vw 2vw 1vw;
  background: none;
  color: honeydew;
  font-size: 3vw;
}
