* {
  font-family: 'Cabin Sketch', cursive;
  color: palegreen;
  margin: 0;
}

html,
body {
  background: url(assets/Chalkboard-background.jpg);
  background-size: cover;
  margin: 0;
  height: 100%;
}

.hidden {
  display: none;
}

.no-click {
  pointer-events: none;
}

h1 {
  opacity: 60%;
  font-size: 4vw;
  text-align: center;
}

.player-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  margin: 2vw;
}

.wins-hdr {
  margin-top: 13vw;
}

.game-table {
  display: flex;
  justify-content: center;
  height: 100%;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 73%;
}

.board-bckgrnd {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
  height: 40vw;
  background: url(assets/earth-chalk.jpg);
  opacity: 80%;
  background-position: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  width: 30%;
  height: 30%;
  background: url(assets/chalkboard-background.jpg);
}

.bttn {
  width: 28vw;
  height: 5vw;
  border: none;
  outline: none;
  background: none;
  opacity: 60%;
  font-size: 3vw;
}
